* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

main img {
  width: 100px;
  margin-bottom: 20px;
}

main h1 {
  color: #10427b;
  margin-bottom: 20px;
}

.zipCode-form {
  display: flex;
  flex-direction: column;
}

.zipCode-form input {
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
}

.zipCode-form button {
  border: 1px solid #b2b5bc;
  border-radius: 8px;
  background-color: #b2b5bc;
  padding: 5px
}

.zipCode-form button:hover {
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.modal-box {
  background: white;
  border: 1px solid #10427b;
  border-radius: 4px;
  height: max-content;
  inset: 40px;
  line-height: 25px;
  margin: auto;
  outline: none;
  overflow: auto;
  padding: 50px;
  position: absolute;
  width: max-content;
}

.zip-code-footer {
  display: flex;
  justify-content: center;
}

.zip-code-footer a , .zip-code-footer button {
  color: black;
  text-decoration: none;
  border: 1px solid #b2b5bc;
  border-radius: 8px;
  background-color: #b2b5bc;
  padding: 5px;
  margin: 10px;
}

.zip-code-footer a:hover , .zip-code-footer button:hover {
  color: white;
  cursor: pointer;
  font-weight: 700;
}